#group-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--color-secondary-light);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#group-form label,
#group-form input[type="text"],
#group-form textarea,
#group-form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

#group-form input[type="text"],
#group-form textarea {
    padding: 10px;
    border: 1px solid var(--color-primary);
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

#group-form input[type="text"]:focus,
#group-form textarea:focus {
    border-color: var(--color-primary-dark);
    outline: none;
}

#members-container {
    margin-top: 10px;
    margin-bottom: 20px;
}

.member-input {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.member-input input[type="text"] {
    flex-grow: 1;
}

.remove-participant {
    background-color: var(--color-secondary);
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.remove-participant:hover {
    background-color: #694292;
}

#add-participant {
    background-color: var(--color-accent);
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

#add-participant:hover {
    background-color: var(--color-accent-dark);
}

#group-form input[type="submit"] {
    background-color: var(--color-primary);
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

#group-form input[type="submit"]:hover {
    background-color: var(--color-primary-dark);
}
