.expense-container{
    width: 100%;
    max-width: 500px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.expense-container p {
    text-align: start;
    font-size: 16px;
    color: var(--color-text-light);
    line-height: 1.5;
    margin-bottom: 10px;
}

.expense-container strong {
    color: var(--color-text);
}

.expense-container h3 {
    font-size: 20px;
    color: var(--color-secondary);
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

.expense-container ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

.expense-container ul li {
    padding: 8px;
    font-size: 16px;
    color: var(--color-text-light);
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
}

