.footer {
    background-color: var(--color-primary);
    color: #fff;
    padding: 20px 0;
    font-family: 'Montserrat', sans-serif;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.footer-section {
    flex-basis: 30%;
    margin-bottom: 20px;
}

.footer-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.footer-language-btn {
    background-color: var(--color-primary);
}

.footer-section p,
.footer-section ul,
.footer-section li {
    font-size: 16px;
    line-height: 1.6;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.language {
    display: grid;
    justify-content: center;
}

.footer-bottom {
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid var(--color-accent);
    font-size: 14px;
    font-weight: 400;
}

.footer-bottom p {
    margin: 0;
}

@media (max-width: 768px) {
    .footer-section {
        flex-basis: 100%;
        text-align: center;
    }
}