.groups-list {
    width: 100%;
    max-width: 500px;
}

.add-group-btn {
    display: inline-block;
    background-color: var(--color-accent);
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    margin-top: 20px;
}

.no-groups {
    text-align: center;
    margin-top: 20px;
  }
  
  .no-groups p {
    font-size: 16px;
    color: var(--color-text-medium);
    margin-bottom: 15px;
  }
  
  .add-group-btn {
    display: inline-block;
    background-color: var(--color-accent);
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
  }
  