:root {
  --color-primary: #005747;
  --color-primary-light: #e0f2f1;
  --color-primary-dark: #003b32;

  --color-secondary: #7A51A1;
  --color-secondary-light: #f8f0ff;
  --color-secondary-dark: #5e3b82;

  --color-accent: #9EC7C4;
  --color-accent-dark: #86b4b2;

  --color-text: #333;
  --color-text-light: #555;
  --color-text-medium: #666;
  --color-text-muted: #777;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.top-icon {
  margin-bottom: 20px;
}

.top-icon img {
  width: 60px;
  height: 60px;
}

.main-title {
  font-size: 28px;
  font-weight: bold;
  color: var(--color-text);
  text-align: center;
  margin-bottom: 20px;
}

.error-message {
  background-color: #ffefef;
  color: #d9534f;
  border: 1px solid #d9534f;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.error-message ul {
  list-style-type: none;
  padding: 0;
}

.error-message li {
  font-size: 14px;
}

button {
  background-color: #9EC7C4; /* Color principal de la aplicaci칩n */
  color: white;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius:10px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  transition: background-color 0.3s ease; /* Transici칩n suave para el hover */
}

button:hover {
  background-color: #8bb5a1; /* Color m치s oscuro al pasar el rat칩n */
}

.back-button{
  margin-top: 1%;
}

#flash {
  max-width: 600px;
  margin: 20px auto;
  padding: 15px 20px;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  background-color: #4CAF50;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 0.5s ease, transform 0.5s ease;
  transform: translateY(0);
}

#flash.show {
  animation: fadeInOut 3s ease forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  10%, 90% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}